/*** styling of blog  ****/
// both archive & single

.more-link,
.more-link.style2-button,
.style2-blog .blog-post .more-link.style2-button,
.sunrise-more { // used in trails conditions block.
	display: inline-block;
	background-color: $sunrise-ltgreen;
	color: white!important;
	border: 1px solid #fff;
	padding: 15px;
	font-size: 13px;
	line-height: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.more-link:hover,
.style2-blog .blog-post .more-link:hover,
.more-link.style2-button:hover,
.sunrise-more:hover {
  background-color: $sunrise-grey!important;;
  color: white!important;
}

 .style2-blog {
		.blog-post { // article
			margin-bottom: 30px;
			.post-content-wrap {
				 margin-bottom: 0px;
			 }
			.more-link {
         float: right;
			 }

		}
 }
// just archive
body.archive {
	#header {
		background: url('./images/blog-header.jpg');
		background-size: cover;
		background-position: center;
		height: 347px;
      #header-inner-wrap {
				// do the semitranparent thing...
				background-color: rgba(251,251,251,0.65);
        #header-wrap{

        }
      }
    }
	.style2-blog {
		 .blog-post { // article
			 .post-content-wrap {
				 	.article-details.no-thumb {
						width: 100%;
					}
				}
			 p {
				 margin-bottom: 15px;
			 }
			 .blog-separator {
				 hr {
					 margin-top: 15px;
				 }
			 }
		 }

	 }
}
// just single


#content.right-sidebar-page {
	padding-top: 45px;  // small at mobile in media
	padding-bottom: 45px;
}
/*** end styling of blog  ****/
