// contact form 7 styling
// special colors
$cf7-success-color: #F4E19A;
$cf7-success-background: #598E46;
$cf7-submit-color: #fff;

.wpcf7-form {
   padding: 10px;
   textarea {
      height: 200px;
      background-color: white;
      border: 0px;
    }
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
       max-width: 100%;
       border: 0px;
    }
    input[type="tel"]{
       width: 200px;
    }
    input.cf7-med {
      width: 200px;
    }
    input.cf7-small {
      width: 80px;
    }
    input.wpcf7-form-control.wpcf7-submit {
      padding: 18px;
      border: 0px;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: bold;
      color: $cf7-submit-color;
    }
    label {
      //font-weight: bold;
      //font-size: 1.1em;
    }
    p {
      margin-bottom: 5px;
    }
    label.cf7-required:after {
      content:"*";
      color: red;
    }

}
.wpcf7 .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
	color: $cf7-success-color;
	background-color: $cf7-success-background;
	font-weight: bold;
}
