/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
$sunrise-green: #145E2F;
$sunrise-ltgreen: #5c896a;
$sunrise-yellow: #f9c718;
$sunrise-ltgreygreen:  #d6e1da;
$sunrise-grey: #888888;
// Background colors:

// special colors
$cf7-success-color: #000;
$cf7-success-background: #57f14e;
$top-cta-bkg: #4e72b0;
$top-cta-font: #faf3e6;
$bottom-cta-bkg: rgba(78,114,176,0.22);

.stc-greenleftborder {
  border-left: 2px solid $sunrise-ltgreygreen;
}
/* ----------- end Colors ----------- */
